.game {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin: 20px auto;
}

.board-game {
  display: flex;
  flex-direction: column;
}

.board-line:after {
  content: '';
  display: table;
  clear: both;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 24px;
  float: left;
  text-align: center;
  border: 1px solid #999;
  cursor: pointer;
}

.game-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-info button {
  margin-top: 10px;
  padding: 5px 10px;
}

